---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import AboutSite from '@components/home/AboutSite.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
---

<Layout
  title='Home'
  pageTitle='Teach Jenn Tech'
  description='Teach Jenn Tech livestream, come learn with us!'
>

<main class='bg- p-10'>
    <AboutSite />
    
    <RecentBlogPosts />
</main>
</Layout>
