---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import AboutSite from '@components/home/AboutSite.astro';

import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';
import jennPhoto from '/public/20230809Jenn.png'; 

const builtWith = [
  { name: 'Python', url: 'https://www.python.org/' },
  { name: 'Kaggle', url: 'https://www.kaggle.com/learn/python' },
];
const guestWith = [
  {name: 'Damien Hale', url: 'https://www.instagram.com/bboyjamba/'},
  {name: 'Jay Miller', url: 'https://kjaymiller.com/'}
];
---

<Layout

  title='Home'
  pageTitle='Teach Jenn Tech'
  description='Teach Jenn Tech livestream, come learn with us!'
>
<main class='bg- p-10'>

    <AboutSite />
    <RecentBlogPosts />
</main>
</Layout>
