---
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';
import { Image } from 'astro:assets';
import Jay from '/src/assets/Humans/jay.png';
import Layout from '@layouts/Default.astro';


const jaySocial = [
{ name: 'YouTube', url: 'https://www.youtube.com/kjaymiller' },
{ name: 'X', url: 'https://x.com/kjaymiller' },
{ name: 'LinkedIn', url: 'https://www.linkedin.com/in/kjaymiller/' },
{ name: 'Website', url: 'https://kjaymiller.com/'},
];
---
<Card>
<Card>
    <img src={Jay.src} alt="TJT" class="w-full h-auto rounded-lg" />
</Card>


<Card>
    <h2 class='underline text-xl md:text-2xl lg:text-4xl mb-4 dm-serif'>
    Connect with Jay: 
</h2>
    <ul class='flex gap-4 flex-wrap'>
    {
        jaySocial.map((item) => (
    <div> 
        <Button
                <a
                class='brutal-btn'
                href={item.url}
                target='_blank'
                title={`Go to ${item.name}`}
                >
                {item.name}
                </a>
            </button>
        </div>
        ))
    }
    </li>
    <div>
    </ul>
    </Card>
</Card>