---
import { getCollection } from 'astro:content';
import BlogList from './BlogList.astro';
import { Card } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';

interface Props {
  count?: number;
}

const { count } = Astro.props;

const posts = await getCollection('blog').then((posts) =>
  posts.reverse().slice(0, count ?? 100)
);
---

<section class='mt-8'>
  <Card>
    <div class='flex justify-between items-start'>
    </div>
    <BlogList posts={posts} />
  </Card>
</section>
