---
interface Props {
  content: any;
}

const { content } = Astro.props;
---
<card>
<article class='prose-slate w-sm md:w-prose md:prose poppins'>
  <h1>
    {content.title}
  </h1>
  <p class='text-slate text-sm md:text-base'>
    Published on {content.pubDate} by {content.author}
  </p>
  <p class='text-slate'>Written by {content.author}</p>
  <slot />
 
  <a href='/blog/' title='Back to blog'>&larr; Back to blog</a>
</article>
</card>
