---
import Layout from './Default.astro';
import LivestreamSideBar from '@components/livestream/LivestreamSideBar.astro';
import LivestreamContent from '@components/livestream/LivestreamContent.astro';
import RecentLivestreamPosts from '@components/generic/RecentLivestreamPosts.astro';

const ogImage = new URL(`/v1/generate/og/${Astro.params.slug}.png`, Astro.url);

const { content, headings } = Astro.props;
const { title, description } = content;
---

<Layout
  title={title as string}
  description={description as string}
  ogImage={ogImage}
>
  <main class='p-6 lg:grid lg:grid-cols-3 flex justify-center'>
    <LivestreamSideBar headings={headings} />
    <LivestreamContent content={content}>
      <slot />
    </LivestreamContent>
  </main>
  <section class='p-6'>
    <RecentLivestreamPosts count={6} />
  </section>
</Layout>
